main span.error {
    animation: fadeOut 1s forwards;
    animation-delay: 5s;
    background: #EF5542;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: normal;
    z-index: 100;
    position: relative;
    float: right;
    margin-top: 20px;
    overflow: hidden;
    display: block;
}


/*Animations & Transitions
*/

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}