<section class="site-section about">
    <!-- <h1>Начало</h1> -->
    <!-- <p>Here you can make early reservatoin for the most famous and delicious cherry in the world.</p>
<p>Harry up! The quantities are limited.</p> -->
    <p>Тук може да направите ранно запазване на най-невероятните и вкусни череши в света. Може да изберете между два
        класически стари сорта - Ван и Наполеон.</p>
    <p>Дръвчетата се намират в две отделни овощни градини на територията на село Коняво, област Кюстендил. Садени са
        80-те години на миналия век. Запазили са вкуса си във времето, благодарение на това че не се обработват с
        изкуствени торове. Пръскат се не повече от веднъж в годината, против образуване на червеи.</p>
    <p>Побързахте! Количествата са ограничени. Овошките сорт Ван са 50 броя и 2 броя от сорт Наполеон.</p>

    <!-- Slideshow container css-->
    <div class="slideshow-css">
        <div class="mySlides-css">
            <img
                src="https://images.unsplash.com/photo-1491839334465-8a0bd5bd7d2c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=960&amp;q=80">
        </div>

        <div class="mySlides-css">
            <img
                src="https://images.unsplash.com/photo-1528820511496-3497bf79194b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=960&amp;q=80">
        </div>

        <div class="mySlides-css">
            <img
                src="https://images.unsplash.com/photo-1531166852799-a5fecb284f63?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=960&amp;q=80">
        </div>

        <div class="mySlides-css">
            <img
                src="https://images.unsplash.com/photo-1462741199256-f1821d9122fa?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=960&amp;q=80">
        </div>

        <div class="mySlides-css">
            <img
                src="https://images.unsplash.com/photo-1520236060906-9c5ed525b025?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=960&amp;q=80">
        </div>
    </div>

</section>