:root {
    --font-size-phone-small: 12px;
    --font-size-phone: 14px;
    --font-size-tablet: 16px;
    --font-size-laptop: 18px;
    --font-size-desktop: 21px;
    --font-size-desktop-large: 24px;
    --font-size-desktop-huge: 27px;

    --layout-main-width: 60em;

    --color-main-site: greenyellow;
    --color-primary-site: blueviolet;
    --color-primary-core-site: #FFF;

    --color-body-bgrd: #FFF;
    --color-body-text: #000;
    --color-link-defaut: #A00;
    --color-link-hover: #777;

    --color-border-defaut: #999;
    --color-border-ligth: #CCC;
    --spacing-layout-elements:2.4em;
}